.login-container {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('../../../assets/images/gym-bg.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.login-card {
  background: #111;
  width: 380px;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(255, 0, 0, 0.2);

  h2 {
    color: #fff;
    font-size: 32px;

    span {
      color: #ff3b3b;
    }
  }

  p {
    color: #aaa;
    margin-bottom: 30px;
  }
}

.input-group {
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
  }
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ff3b3b, #ff0000);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(255, 0, 0, 0.5);
  }
}
